#background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 20%;
    height: 400px;
    background-size: cover;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  #background button {
    margin-top: 20px;
    color: white;
    height: 50px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #background button:hover {
    background-color: #0056b3;
  }
  
  .container {
    margin-top: 30px;
    align-items: flex-start; 
    
  }
  
  .main-body {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  #userprofile {
    display: flex;
    
    flex-direction: column;
    text-align: center;
    align-items: flex-start; 
    height: 100%;
    width: 100%;
  }
  
  #userprofile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto; 
    margin: 0 auto; 
    display: block; 
  }
  
  #userprofile h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center; 
  }
  
  #userprofile p {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
    text-align: center; 
  }
  
  #pictures {
    display: flex;
    align-items: center;
  }
  
  #pictures .col-sm {
    margin-bottom: 20px;
  }
  
  #pictures h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  #pictures p {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
  }
  
  #pictures img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  
#pictures {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }
  
  #pictures button {
    font-size: 14px;
    font-weight: normal;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #c8dff7; 
    color: #fff; 
    width: 150px; 
    height: 15%; 
  }
  

  .button {
    font-size: 14px;
    font-weight: normal;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #c8dff7; 
    color: #fff; 
  }

  .pet-box {
    width: 100%; 
    padding: 10px; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
  }
  
  .pet-box-content {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  }
  
  .pet-box h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .pet-box p {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .pet-box img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  